.header {
  font-weight: 700;
  font-family: 'Rubik';
}

/* comment section template */
.card {
  background: hsl(0, 0%, 100%);
  position: relative;
  border-radius: 10px;
  padding: 10px 10px 10px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  margin-bottom: 20px;
}

.comment-template {
 display: grid;
 grid-template-columns: 10% 1fr 25%;
 grid-template-rows: 30% 70%;
 column-gap: 10px;
 align-items: center;
 padding: 15px 10px 10px 0px;
}

.editComment-template {
 display: grid;
 grid-template-columns: 10% 1fr 25%;
 grid-template-rows: 30% 70%;
 column-gap: 10px;
 align-items: center;
 padding: 15px 10px 35px 0px;
}

.reply-template {
  border-left: 1px solid hsl(223, 19%, 93%);
  margin-left: 20px;
  padding-left: 30px;
}


/* Upvote section */
.upvote{
  grid-row: 1 / 3;
  align-items: center;
}

.upvote-button {
  padding: 5px 23px;
  margin: 25px;
  background-color: hsl(223, 19%, 93%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.upvote-button h4 {
  color: hsl(212, 24%, 26%);
  margin: 5px 0;
}

.upvote-button .active {
  border: 1px solid hsl(212, 24%, 26%);
}

.upvote-button .active svg path{
  color: hsl(212, 24%, 26%);
}

.upvote-button button {
  padding: 10px;
  border: 1px solid hsl(228, 33%, 97%);
  height: 30px;
  width: 30px;
  border-radius: 50px;
  margin: 0 10px;
  cursor: pointer;
}

.textArea {
  width: 100%;
  height: 90px;
  position: relative;
  margin: 5px;
  padding-right: 15px;
  grid-column: 2 / 4;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  align-self: flex-start;
  align-items: center;
  color: hsl(211, 10%, 45%);
}


.textArea .replyingTo {
  display: inline;
  color: hsl(238, 40%, 52%);
  font-weight: 500;
}

.textArea button {
  border: none;
  background-color: transparent;
  color: hsl(211, 10%, 45%);
  font-size: 15px;
  cursor: pointer;
  margin-left: 3px;
}

/* When the ReadMore button in the TextArea is clicked, to aviod a break in the design of the comment template I added extra margins to each property */
.readMore-textArea {
  width: 100%;
  height: 250px;
  position: relative;
  margin: 5px;
  padding-right: 15px;
  grid-column: 2 / 4;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  align-self: flex-start;
  align-items: center;
  color: hsl(211, 10%, 45%);
}

.readMore-textArea button {
  border: none;
  background-color: transparent;
  color: hsl(211, 10%, 45%);
  font-size: 15px;
  cursor: pointer;
  margin-left: 3px;
}

.readMore-textArea .replyingTo {
  display: inline;
  color: hsl(238, 40%, 52%);
  font-weight: 500;
}

/* When the comment is being Edited */

.edit-textArea {
  height: 10rem;
}

.textArea form .input {
  width: 98%;
  height: 100px;
  border-radius: 10px;
  padding: 10px 15px;
  border: 1px solid hsl(223, 19%, 93%);
  font-family: 'rubik';
  color: hsl(211, 10%, 45%);
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  text-align: flex-start;
}

.textArea form .input:focus {
border: 1px solid hsl(211, 10%, 45%);
outline: none;
}

.textArea form button {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  justify-self: right;
  margin-left: 10px;
}

.textArea form .cancel{
  background:hsl(211, 10%, 45%) ;
}

.textArea form .update{
  background: hsl(238, 40%, 52%);
}

.textArea form button:hover {
  background: hsl(239, 57%, 85%);
}

.buttonContainer {
  display: flex;
  justify-content: right;
  padding-right: 10px;
}

.identity {
  display: flex;
  align-items: center;
  align-self: center;
}

.profile-img {
  width: 35px;
  height: 35px;
  margin: 0 5px;
  border-radius: 50px;
}

.identity h4 {
  margin: 0 10px;
  color: hsl(212, 24%, 26%);
}

.identity p {
  margin: 0 5px;
  color: hsl(211, 10%, 45%);
  opacity: 0.9;
}

.identity .indicator {
  background-color: #5357B6;
  color: #fff;
  padding: 3px 5px 3px 4px;
  margin: 0 5px;
}

.identity .edited {
  background-color: hsl(212, 24%, 26%);
  color: #fff;
  padding: 3px 5px 3px 4px;
  border-radius: 3px;
}

.comment-btn {
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  font-size: 16px ;
  background: none; 
}

.comment-btn p {
  padding-left: 5px;
  font-weight: 700;
}

.currentUser-btn {
  display: flex;
  padding: 0 10px;
  justify-content: space-around;
  align-self: center;
}

/* Control buttons */
.delete-btn {
  color: #ED6368;
  margin-top: 0.3rem;
}

.delete-btn:hover {
  opacity: 0.6;
}

.edit-btn{
 color: #5357B6;
 margin-top: 0.3rem;
}

.edit-btn:hover {
  opacity: 0.6;
}

.reply-btn {
  color: #5357B6;
  justify-content: flex-end;
  padding-right: 20px;
  align-self: center;
  margin-top: 0.3rem;
}

.reply-btn:hover {
  opacity: 0.6;
}

/* Delete Comment Confirmation */
.confirmDelete{
  position:fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 2000px;
  height: 2000px;
  background: #0000;
  z-index:20;
}

.deleteTemplate{
  position: fixed;
  height: 37vh;
  width: 29vw;
  margin: 30vh 20vw 20px 35vw;
  padding: 30px 50px;
  line-height: 1.4;
  font-size: 16px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.deleteTemplate h4{
margin-bottom: 10px;
font-size: 18px;
}

.deleteTemplate p {
  padding: 5px 0;
}

.deleteTemplate div {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.deleteTemplate button {
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  z-index: 22;
}

.deleteTemplate button:hover {
  opacity: 0.8;
}

.deleteTemplate .cancel{
  background: hsl(211, 10%, 45%);
}

.deleteTemplate .deleteComment {
  background: hsl(358, 79%, 66%);
}


/* FORM DESIGN */
.form{
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.form .input {
  min-width: 80%;
  min-height: 70px;
  padding: 10px 15px;
  border: 1px solid hsl(223, 19%, 93%);
  font-family: 'rubik';
  color: hsl(211, 10%, 45%);
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
  text-align: flex-start;
}

.form .input:focus {
  outline: none;
  border: 1px solid hsl(211, 10%, 45%);
  align-content: flex-start;
}


.form button {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  background: hsl(238, 40%, 52%);
  color: #fff;
  cursor: pointer;
}

.form button:hover {
  background: hsl(239, 57%, 85%);
}

@media screen and (max-width:1000px) {
  .deleteTemplate{
    width: 45vw;
    margin: 30vh 25vw 20px 25vw;
  }
}

@media screen and (max-width:850px) {
  .deleteTemplate {
    width: 50vw;
    margin: 30vh 25vw 20px 25vw;
  }
}

@media screen and (max-width:750px){
  .deleteTemplate {
    margin: 30vh 30vw 20px 20vw;
    width: 60vw;
    height: 40vh;

  }
}

@media screen and (max-width: 630px){
  .deleteTemplate button {
    padding: 10px 10px;
    font-size: 13px;
  }
}

@media screen and (max-width: 550px){
  .deleteTemplate {
    font-size: 15px;
  }

  .deleteTemplate h4 {
    font-size: 17px;
    margin-bottom: 5px;
  }

  .deleteTemplate p {
    padding: 2px 0;
  }

  .deleteTemplate button {
    padding: 10px 8px;
    font-size: 12px;
  }
}